<h2>Add new game</h2>
<form (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" class="form-control" required [(ngModel)]="model.title">
  </div>
  <div class="form-group">
    <label for="picture" class="control-label">Picture link</label>
    <input type="picture" class="form-control" required [(ngModel)]="model.picture">
  </div>
  <div class="form-group">
    <label for="Notes" class="control-label">Notes</label>
    <textarea class="form-control" rows="4" required [(ngModel)]="model.notes"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>